@view-transition {
  navigation: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
  padding: 0;
  margin: 0;
}

input:where([type="checkbox"], [type="radio"]) {
  width: 1em;
  height: 1em;
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

legend {
  padding: 5px;
}

.input {
  padding-left: 1em;
  padding-bottom: 1em;
}

.space {
  padding-top: 1em;
  accent-color: #ff4b00;
}

input,
textarea,
fieldset {
  border: 1px solid #000000;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}

.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: #ff4b00;
  }
}

.required-fieldset legend::after {
  content: " *";
  color: #ff4b00;
}

.form-group:has(:user-invalid) {
  input {
    outline: 2px solid #ff4b00;
  }
  .error-message {
    display: block;
  }
}

button:hover {
  background: #484848;
}

button:active {
  scale: 0.98;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  padding: 2em;
}
.hund-info{
  padding-top: 2em;
}